.table-cart {
    /* width: 100%; */
    margin: 100px 10px 10px 150px;
    padding: 100px 10px 10px 100px;
    width: 800px;
    font-size: 28px;
    color: black;
    background-color: yellow;
}

.cart-item {
    margin-top: 5px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    border-bottom: 1px solid grey;
}

table tr,
td {
    margin: 15px;
    border-bottom: 0.5px solid rgb(146, 140, 140);
}

table th {
    padding-top: 18px;
    color: rgb(255, 145, 0);
    font-size: 30px;
    text-align: center;
}


/* .cart-img {
    padding-right: 70px;
}

.cart-price {
    padding-right: 70px;
}

.cart-intoMoney {
    padding-right: 90px;
}

.cart-quantity {
    padding-right: 90px;
}

.cart-product {
    padding-right: 70px;
}

.card-cart {
    padding-left: 20px;
} */

.name-customer {
    display: contents;
}

.cart-total button {
    color: black;
    background-color: goldenrod;
    height: 30px;
    font-size: 15px;
    border-radius: 6px;
    border-color: orange;
    padding-bottom: 5px;
    width: 100px;
}

.cart-total {
    padding-bottom: 13px;
    padding-left: 95px;
    padding-top: 30px;
}

#btn-oder-customer {
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 7px;
    width: 230px;
}


/* .carts {
  
    padding-left: 30px;
    margin-top: 5px;
    
    display: flex;
    float: left;
    justify-content: space-between;
    width: 750px;
    align-items: center;
    font-size: 25px;
    color: orange;
} */

.orderbtn {
    margin-left: 750px;
    margin-top: 10px;
}

.title {
    border-left: 1px solid black;
}

#removeBtn {
    height: 50px;
}

.card-img {
    margin-bottom: 5px;
}

.cart-name {
    width: 250px;
    border: 3px solid grey;
}

.cart-price {}

.cart-quantity {}